/* waterprogress.css */
#waterprogress-bar {
    -fx-indeterminate-bar-length: 60;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: true;
    -fx-indeterminate-bar-animation-time: 2;
}
#waterprogress-bar > .bar {
    -fx-accent: #2196F3;
    -fx-background-color: linear-gradient(to bottom, derive(-fx-accent, -7%), derive(-fx-accent, 0%), derive(-fx-accent, -3%), derive(-fx-accent, -9%) );
    -fx-background-insets: 1 1 2 1;
    -fx-background-radius: 2;
    -fx-padding: 1.2em;
}
#waterprogress-bar:indeterminate > .bar {
    -fx-background-color: linear-gradient(to left, transparent, -fx-accent);
}
#waterprogress-bar > .track {
      -fx-background-color: 
          -fx-shadow-highlight-color,
          linear-gradient(to bottom, derive(-fx-text-box-border,95%), derive(-fx-text-box-border,10%)),
        linear-gradient(to bottom, derive(-fx-text-box-border,38%), -fx-text-box-border);
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1;
    -fx-background-radius: 4, 3, 2; /* 10, 9, 8 */
}